.img_dash {
    width: 50%;
    margin: 0px 25%;
}

.botao_entrar {
    margin: 5px auto;
    display: flex;
    padding: 10px 80px;
}

.senha_esq {
    display: flex;
    padding: 10px 80px;
}



